.pause-quiz-prompt{
    width: 500px;
    height: 600px;
    color: #36393f;
    article{
        font-size: 14px;
        border-bottom: 1px solid #D3D3D3;
        padding: 20px 15px 0 15px;
        color: #808080;
        p{
           color: #7e3131;
           font-size: 15px;
        }
    }
    .quiz-info{
        padding: 0 15px;
        p{
            display: flex;
            color: #7e3131;
            span{
                color: #808080;
                margin-right: 5px;
            }
        }
        .column{
            & > div{
                display: flex;
                color: #7e3131;
                span{
                    color: #808080;
                    margin-right: 5px;
                }
            }
        }
        .row{
            margin-top: 50px;
        }
    }
}