.quiz-instruction{
    color: #FFFDFD;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    & > div{
        text-align: center;
        header{
            font-size: 26px;
            font-weight: lighter;
            &::before, &::after{
                background: #7CB996
            }
            span{
             color: #7CB996;
            }
        }
        article{
            padding: 10px 0;
            color: #B0B0B0;
            letter-spacing: 1px;
            span{
                color: #F4BE5A;
            }
            button:first-of-type{
                margin-top: 25px;
            }
            button:last-of-type{
                margin-top: 15px;
            }
        }
    }
}