.operation-prompt{
    position: fixed;
    z-index: 10;
    font-size: 18px;
    padding: 10px 10px 0 10px;
    background: #7e3131;
    border-radius: 50%;
    color: white;
    .lds-ring{
        position: relative;
    }
}
.operation-prompt-tright{
    right: 10px;
    top: 10px;
}
.operation-prompt-bright{
    right: 10px;
    bottom: 10px;
}
.operation-prompt-bleft{
    left: 10px;
    bottom: 10px;
}