.tutorial-block{
    width: 59%;
    background-color: rgba(0,0,0,0.7);
    padding: 30px;
    box-sizing: border-box;
    position: relative;
}
.tutorial-block h1{
    font-family: 'Lobster', cursive;
    margin: 0;
    text-align: center;
    letter-spacing: 4px;
    color: turquoise;
    font-weight: 400;
}
.tutorial-block section{
    width: 100%;
    margin-top: 25px;
}
.tutorial-block section p:first-of-type{
    color: tomato;
    letter-spacing: 2.5px;
    font-family: 'Lobster', cursive;
    font-size: 22px;
}
.tutorial-block section article{
    color: whitesmoke;
    letter-spacing: 1px;
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 15px;
}
.tutorial-block section article span{
    margin-left: 25px;
}
.tutorial-block section article b{
    color: turquoise;
}
.tutorial-block button{
    padding: 15px;
    background-color: transparent;
    color: lightblue;
    border: 1px solid lightblue;
    margin: 0 auto;
    cursor: pointer;
    font-size: 18px;
    width: 160px;
    position: absolute;
    bottom: 25px;
}
.tutorial-block button:hover{
    background-color: rgba(255,255,255,0.1);
}



@media(max-width: 1450px){
    .tutorial-block section article{
        font-size: 14px;
    }
}
@media(max-width: 1200px){
    .tutorial-block{
        height: 600px;
        margin-bottom: 25px;
        width: 90%;
    }
}
@media(max-width: 650px){
    .tutorial-block{
        width: 95%;
        font-size: 13px;
        height: 700px;
    }
}

@media(max-width: 649px){
    .tutorial-block{
        width: 95%;
        font-size: 13px;
        height: 800px;
    }
    .tutorial-block h1{
        font-size: 24px;
    }
}
@media(max-width: 410px){
    .tutorial-block{
        width: 95%;
        font-size: 13px;
        min-height: 1000px;
    }
    .tutorial-block h1{
        font-size: 24px;
    }
}

