.email-confimration-cart{
    width: 75vw;
}
.email-confimration-cart h2{
    text-align: center;
    color: tomato;
    font-family: 'Lobster', cursive;
    letter-spacing: 2.5px;
}
.email-confimration-cart article{
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Lobster', cursive;
    letter-spacing: 2.5px;
    font-size: 18px;
    letter-spacing: 1.5px;
}
