.backdrop{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 1000;
}
.backdrop .fa-times{
    color: white;
    z-index: 10;
    right: 25px;
    position: absolute;
    top: 25px;
    cursor: pointer;
    font-size: 26px;
}
.open-backdrop{
    animation: 1.5s animate-back-in ease-in-out forwards;
}
.hide-backdrop{
    animation: 1.5s animate-back-out ease-in-out forwards;
}
.open-backdrop-short{
    animation: .5s animate-back-in ease-in-out forwards;
}
.hide-backdrop-short{
    animation: .5s animate-back-out ease-in-out forwards;
}
@keyframes animate-back-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes animate-back-out{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.modal-container-base{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    transition: 1s all ease-in-out;
    box-shadow: -1px 1px 38px -2px rgba(0,0,0,0.42);
    left: 50%;
}
.animation-from-left-to-right{
    animation: 1.5s basic-animation-in ease-in-out forwards;
}
.animation-from-right-to-left{
    animation: 1.5s basic-animation-out ease-in-out forwards;
}
@keyframes basic-animation-in{
   0%{
       left: -100vw;
   }
   50%{
       left: 60%;
   }
   100%{
       left: 50%;
   }
}
@keyframes basic-animation-out{
    0%{
        left: 50%;
    }
    50%{
        left: 60%;
    }
    100%{
        left: -100vw;
    }
}

.animation-opacity-in{
    animation: .5s modal-op-in forwards;
}
.animation-opacity-out{
    animation: .5s modal-op-out forwards;
}
@keyframes modal-op-in{
   0%{
       opacity: 0;
       top: 51%;
   }
   100%{
       opacity: 1;
       top: 50%;
   }
}
@keyframes modal-op-out{
    0%{
        opacity: 1;
        top: 50%;
    }
    100%{
        opacity: 0;
        top: 51%;
    }
}