.input-container{
    display: flex;
    flex-flow: column;
    padding: 10px 0;
}
.input-container label{
    padding-bottom: 4px;
    cursor: auto;
    color: lightblue;
    letter-spacing: 1.2px;
    font-size: 16px;
}
.input-container input[type="date"]{
    height: 21px;
    cursor: pointer;
}
.input-container select{
    height: 36px;
    margin-top: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    padding-left: 15px;
}
.input-container select option{
    cursor: pointer;
}
.input-container input{
    padding: 7.5px;
    font-size: 15px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid transparent;    
    transition: 0.5s all ease-in-out;
}
.input-container input:focus, 
.input-container select:focus{
    outline: none;
}
.valid-input:focus{
    border-color: rgb(71, 138, 160);
    -webkit-box-shadow: -1px 1px 24px -2px rgb(71, 138, 160);
    -moz-box-shadow: -1px 1px 24px -2px rgb(112, 202, 233);
    box-shadow: -1px 1px 24px -2px rgb(112, 202, 233);
}
.invalid-input, .invalid-input:focus{
    border-color: red;
    -webkit-box-shadow: -1px 1px 24px -2px red;
    -moz-box-shadow: -1px 1px 24px -2px red;
    box-shadow: -1px 1px 24px -2px red;
}
.u-form-validation{
    color: tomato;
    height: 14px;
    font-size: 14px;
}
.u-form-validation span{
    display: block;
    animation: 0.4s error-in ease-in-out forwards;
}
@keyframes error-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


@media(min-width: 700px){
    .input-container{
        padding: 10px;
    }
    .u-form-validation{
        height: 16px;
        font-size: 16px;
    }
    .input-container input{
        padding: 12.5px;
        font-size: 18px;
    }
    .input-container label{
        padding-bottom: 7.5px;
        font-size: 18px;
    }
}

