.quiz-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #36393f;
  z-index: 4;
  animation: 0.5s animate-quiz-in forwards;
  will-change: bottom;
  display: flex;
  @keyframes animate-quiz-in {
    0% {
      bottom: -100vh;
    }
    100% {
      bottom: 0;
    }
  }
  & > .white-btn {
    position: absolute;
    right: 15px;
    bottom: 15px;
  }
}
