.email-confirmation-page{
    margin-top: 250px;
}
.correct-register-content{
    text-align: center;
}
.correct-register-content h3{
    margin-top: 75px;
    color: lightblue;
}
.correct-register-content > p{
    color: lightblue;
}

.correct-register-content a{
    text-decoration: none;
    font-weight: bold;
    color: lightcoral;
}