.navbar{
    background: #7e3131;
    color: rgb(108, 233, 185);
    display: flex;
    padding: 10px 30px;
    align-items: center;


    .fa-bars{
        font-size: 40px;
        cursor: pointer;
        margin-left: auto;
        color: #ADEEE3;
    }
}