.navbar-container {
  background: #7e3131;
  box-shadow: 0 1px 20px black;
  transition: 0.5s height ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-normal {
  height: 60px;
}
.nav-extended {
  height: 120px;
}
.navbar-container .nav-span {
  content: "";
  transition: 0.5s top ease-in-out;
  height: 30px;
  width: 30px;
  background: #7e3131;
  position: absolute;
  cursor: pointer;
  margin: 0 auto;
  right: 0;
  left: 0;
  z-index: 1;
  transform: rotate(45deg);
}
.navbar-container .nav-span-normal {
  top: 45px;
}
.navbar-container .nav-span-extended {
  top: 105px;
}
