.timer{
    font-size: 36px;
    color: #7CB996;
    display: flex;
    flex-flow: column;
    .normal-timer{
        width: 125px;
    }
    span{
        font-size: 15px;
        color: #B0B0B0;
    }
    @media(max-width: 464px){
        font-size: 24px;
        span{
            font-size: 12px;
        }
    }
}
.pulse-timer{
    animation: 1s animate-timer infinite;
    @keyframes animate-timer {
        0%{
            opacity: 1;
        }
        50%{
            opacity: 0.8;
        }
        100%{
            opacity: 1;
        }
    }  
}
.normal{

}