.timer{
    animation: 1s animate-timer infinite;
    font-size: 36px;
    color: #7CB996;
    @keyframes animate-timer {
        0%{
            opacity: 1;
        }
        50%{
            opacity: 0.8;
        }
        100%{
            opacity: 1;
        }
    }    
}