.hamburger{
    width: 45px;
    display: flex;
    height: 50px;
    padding: 15px 20px;
    margin-top: 10px;
    justify-content: space-around;
    transition: 1s all ease-in-out;
    margin-right: 20px;
    cursor: pointer;
}
.hamburger-on{
    flex-flow: column;
}
.hamburger-off{
    flex-flow: row;
}
.hamburger div{
    background-color: white;
}
.hamburger:hover{
    background-color: rgba(255,255,255,0.1);
}
.hamburger-on div{
    width: 100%;
    height: 3px;
    transition: 0.5s width ease-in-out;
}
.hamburger-off div{
    height: 40px;
    padding-top: 2.5px;
    transition: 0.5s height ease-in-out;
    width: 3px;
}
@media(min-width: 950px){
    .hamburger{
        display: none;
    }
}