.navbar{
    height: 100px;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    color: white;
    transition: 1s all ease-in-out;
    position: fixed;
    z-index: 40;
}
.navbar-colored{
    background-color: rgba(0,0,0,0.9);
}
.navbar .fa-music{
    position: absolute;
    right: 0;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: black;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 2px 3px black;
    display: flex;
    align-items: center;
    padding-left: 16px;
    cursor: pointer;
    box-sizing: border-box;
    transition: 1s all ease-in-out;
    font-size: 24px;
    bottom: -70px;
}
.navbar .fa-music:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.15);
}

.logo{
    display: flex;
    align-items: center;
    font-size: 24px;
    padding: 20px;
    font-family: 'Lobster', cursive;
    letter-spacing: 3px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    margin-left: 15px;

}
.auth-btns-container{
    display: flex;
    margin-right: 25px;
    justify-content: space-around;
}
.auth-btns-container a{
    margin: 20px 15px;
    width: 130px;
    border: 1px solid lightblue;
    background: transparent;
    color: lightblue;
    font-size: 16px;
    display: flex;
    text-decoration: none;
    outline: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    letter-spacing: 1px;
}
.auth-btns-container a:hover{
    background-color: rgba(255, 255, 255, 0.15);
    color: #fff;
}
.abs-nav-buttons{
    position: absolute;
    width: 250px;
    display: flex;
    left: 300px;
    justify-content: space-around;
    margin: 0 auto;
}
.abs-nav-buttons button{
    width: 120px;
    padding: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: lightgreen;
    letter-spacing: 1px;
    background: transparent;
    position: relative;
    transition: 1s all ease-in-out;
}
.abs-nav-buttons button:nth-child(1){
    width: 100px;
}
.abs-nav-buttons button::before{
    content: '';
    width: 0;
    display: block;
    position: absolute;
    transition: 0.5s all ease-in-out;
    bottom: 0px;
}
.abs-nav-buttons button:hover::before{
    width: 80px;
    border: 1px solid lightgreen;
}
.abs-nav-buttons button:nth-of-type(2):hover::before{
    width: 100px;
    border: 1px solid lightgreen;
}
@media(max-width: 950px){
    .auth-btns-container a,
    .abs-nav-buttons{
        display: none;
    }
}
@media(max-width: 899px){
    .logo{
        font-size: 20px;
        padding: 10px;
    }
    .navbar .fa-music{
        bottom: -65px;
    }
}