.side-bar-on{
    animation: 1s animate-side-in ease-in-out forwards;
    background-color: white;
    height: 100vh;
    transition: 0.5s width ease-in-out;
    box-shadow: 1px 0 5px 1px black;
    position: fixed;
    z-index: 35;
}
.side-bar-off{
    width: 0;
    transition: 0.5s all ease-in-out;
    animation: 1s animate-side-out ease-in-out forwards;
    height: 0;
}
@keyframes animate-side-in{
    0%{
        width: 0;
    }
    100%{
        width: 60%;
    }
}
@keyframes animate-side-out{
    0%{
        width: 60%;
    }
    100%{
        width: 0;
    }
}

@media(min-width: 900px){
    .side-bar{
        display: none;
    }
}