.player-controls{
    button{
        border: 1px solid #7CB996;
        border-radius: 50%;
        background: transparent;
        color: #7CB996;
        width: 45px;
        height: 45px;
        margin: 0 5px;
    }
}