.midle-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    min-height: 550px;
    margin-top: 50px;
}

@media(max-width: 1200px){
    .midle-container{
        width: 96%;
        flex-flow: column;
        align-items: center;
    }
}