

.player{
    height: 40%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.sound-title{
    color: lightblue;
    font-size: 17px;
    margin-top: 35px;
    min-width: 60%;
    background-color: red;
    position: relative;
    text-align: center;
}
.sound-title span{
    position: absolute;
    animation: 2s animate-title linear infinite;
    display: block;
    top: -20px;
    left: 0;
    right: 0;
}
@keyframes animate-title{
    0%{
       opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.player-btns{
    display: flex;
    justify-content: space-around;
    width: 250px;
    align-items: center;
}
.player-btns button{
    border-radius: 50%;
    border: none;
    background-color: rgb(166, 220, 238);
    color: rgba(0,0,0,0.9);
    width: 50px;
    height: 50px;
}
.player-btns button:first-child,
.player-btns button:last-child{
    background-color: transparent;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.player-btns button:first-child:hover,
.player-btns button:last-child:hover{
    color: lavender;
}

.player-btns .fa-play{
    margin-left: 5px;
    font-size: 20px;
}
.player-btns button:nth-child(2):hover,
.player-btns button:nth-child(3):hover{
    background-color: rgb(189, 228, 241);
}
.player-btns .fa-stop{
    font-size: 18px;
}
.progress-bar{
    width: 250px;
    position: relative;
}
.progress-bar > span {
    position: absolute;
    display: block;
    bottom: -35px;
    left: 5px;
    color: turquoise;
    letter-spacing: 1.5px;
}
.player-progress{
    margin-top: 20px;
    width: 100%;
}

.player-progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
     appearance: none;
    border-radius: 10px;
    width: 250px;
    height: 30px;
 
}
.player-progress[value]::-webkit-progress-bar {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
}
.player-progress[value]::-webkit-progress-value {
    background-color: lightblue;
    opacity: 0.9;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
