body, html{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
body{
  height: 100%;
}
#root{
  height: 100%;
}
button{
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  border: none;
  font-family: inherit;
}
button:focus{
  outline: none;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white; 
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.7); 
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.6);  
}
