body, html{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
#bg1{
  background-color: #F39C12;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

button{
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  border: none;
  font-family: inherit;
}
button:focus{
  outline: none;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white; 
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.7); 
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.6);  
}
