.side-stats-menu {
    color: white;
    .enable-result-list-animation {
      overflow-y: auto;
      max-height: 100vh;
      padding: 0 15px;
      .correct-answer{
        background: #7CB996;
        &:hover{
            background: #69B98B;
        }
      }
      .incorrect-answer{
        background: #C08787;
        &:hover{
            background: #BD7B7B;
        }
      }
      .active-question{
          background: #F4BE5A;
          color: #36393f;
          width: 35px;
          height: 35px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 25px auto;
          border-radius: 50%;
          i{
            font-size: 22px;
          }
          &:hover{
              background: #F5BB4E
          }
      }
      li {
        cursor: pointer;
        box-shadow: -1px 1px 38px -2px rgba(0,0,0,0.42);
        opacity: 0;
        animation: 0.5s animate-in forwards;
        padding: 10px;
        margin: 10px 0;
        transition: .5s margin;
        will-change: margin;
        width: 150px;
        height: 80px;
        display: flex;
        @for $i from 2 through 20 {
          & {
            &:nth-child(#{$i}) {
              animation-delay: $i * (1s / 18);
            }
          }
        }
        @keyframes animate-in {
          0% {
            opacity: 0;
            transform: translateX(-15px);
          }
          100% {
            opacity: 1;
            transform: translateX(0);
          }
        }
        .lock-status-container{
            display: flex;
            flex-flow: column;
            align-items: center;
            width: 100%;
            color: #B0B0B0;
            justify-content: center;
            i{
                font-size: 24px;
            }
            p{
                margin: 5px 0;
                font-size: 15px;
            }
        }
      }
    }
  }
  .quiz-content{
        width: 100%;
      .quiz-navigation{
        padding: 15px 20px;
        display: flex;
        .nav-btns-container{
          width: 100%;
          margin-left: 25px;
        }
      }
      section{
        height: 100%;
        .section-content{
          background: white;
          padding: 15px 20px;
          display: flex;
        }
        footer{
          padding: 25px;
          position: fixed;
          bottom: 0;
          width: 100%;
          i{
            cursor: pointer;
            font-size: 24px;
          }
          .fa-play{
            color: #7CB996;
          }
          .fa-pause{
            color: #BD7B7B;
          }
        }
      }
  }