.quiz-content {
  width: 100%;
  .footer-content-container{
    height: 88%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    footer {
      padding: 15px 25px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      i {
        cursor: pointer;
        font-size: 24px;
      }
      .fa-pause,
      .fa-play {
        color: white;
      }
    }
  }
  .section-content {
    padding: 15px 20px;
    color: white;
    align-items: center;
    display: flex;
    flex-flow: column;
    h1 {
      font-size: 34px;
      span {
        color: #b0b0b0;
      }
      span::before{
        margin-right: 15px;
      }
      span::after{
        margin-left: 15px;
      }
      span::before,
      span::after {
        width: 20px;
        height: 20px;
        background: #b0b0b0;
      }
    }
    .quiz-panel {
      display: flex;
      width: 100%;
      align-items: center;
      flex-flow: column;
      .player-controls{
        margin-top: 15px;
      }
      .timer {
        text-align: center;
        margin: 0 auto;
      }
    }
  }
}

